/* Google Font style */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap");

/* Top Banner Backgroud Image  */

.nav-banner-bg {
   background-image: url(../backgroud/Group\ 33064.png);
   background-repeat: no-repeat;
   background-position: center;
}

/* Top-Banner Backgroud Image  */
.top-banner-bg {
   background-image: url("../backgroud/rectangle-25.png");
}
/* Header Font  */
.header-title {
   font-family: "Bebas Neue", cursive;
   font-size: 80px;
   line-height: 80px;
}
/* Top Banner Header Style  */
.header-stlye {
   color: #fabe4c;
}

/* Top Banner Button Style */
.button-link {
   padding: 15px 30px;
   background: linear-gradient(180deg, #a4bc46 0%, #85a019 100%);
   color: white;
   border: 0;
   border-radius: 10px;
}

/* Price Tag Style */

.price-tag {
   font-family: "Roboto", sans-serif;
   color: #fabe4c;
   font-size: 36px;
   font-weight: 900;
   font-family: ;
}
.item-border {
   border-radius: 5%;
}
.jack-img {
   /* background-image: url(../backgroud/Rectangle\ 29.png); */
   background-repeat: no-repeat;
   background-position: center;
   background-size: 400px;
}

.jack2 img {
}

.cont-size {
   width: 35%;
}

.radius {
   border-radius: 25px;
}
